@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Comfortaa:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$background-color: rgb(43, 51, 128);
$white: rgb(209, 220, 247);
$font-color: rgb(137, 151, 186);
$cta-1-color: rgb(234, 67, 29);
$error-color: rgb(220, 28, 31);

$body-vertical-padding: 16px;
